@using MudBlazor

@inject NavigationManager NavigationManager

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="Device">Servers</MudNavLink>
    @* <MudNavGroup Title="Settings" Expanded="true"> *@
    @*     <MudNavLink Href="/users"  Match="NavLinkMatch.Prefix">Users</MudNavLink> *@
    @*     <MudNavLink Href="/security"  Match="NavLinkMatch.Prefix">Security</MudNavLink> *@
    @* </MudNavGroup> *@
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="Account/Manage">@context.User.Identity?.Name</MudNavLink>
            <MudNavLink>
                <form action="Account/Logout" method="post">
                                        <AntiforgeryToken/>
                                        <input type="hidden" name="ReturnUrl" value="@NavigationManager.ToBaseRelativePath(NavigationManager.Uri)"/>
                                        <button type="submit" class="nav-link">
                                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                        </button>
                                    </form>
            </MudNavLink>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Account/Login">Zaloguj się</MudNavLink>
            <MudNavLink Href="Account/Register">Zarejestruj się</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>