@rendermode InteractiveServer
@page "/Device/Add"
@attribute [Authorize(Roles="SuperAdmin, Admin")]

@implements IDisposable
@using System.Net.Sockets
@using System.Text
@using System.Text.Json;
@using System.Text.RegularExpressions
@using Microsoft.EntityFrameworkCore
@using PolekoWebApp.Components.Dialogs
@using PolekoWebApp.Data;
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

<PageTitle>Dodaj nowe czujniki</PageTitle>

<MudDialogProvider />
<MudItem sm="5" Class="ma-auto">
    <MudPaper Class="pa-4">
        <h3>Dodaj czujnik</h3>
        <MudForm @ref="_form" Class="d-flex flex-column">
            <MudTextField T="string" Label="Adres IP" @bind-Value="IpAddress"
                          Validation="@(new Func<string, IEnumerable<string>>(IpAddressValidation))"/>
            <MudTextField T="string" Label="Adres MAC" @bind-Value="MacAddress"
                          Validation="@(new Func<string, IEnumerable<string>>(MacAddressValidation))" Class="mb-4"/>

            @if (!_listeningStopped)
            {
                <span class="align-self-center d-flex align-center">
                    <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" Class="mr-2"/>
                    Wyszukiwanie czujników w sieci...
                </span>
            }
            @if (Sensors.Count > 0)
            {
                <MudDataGrid Items="Sensors" T="Sensor" RowClick="OnRowClick" RowStyle="cursor: pointer;" Class="ma-3" Elevation="3" Dense="true">
                    <Columns>
                        <PropertyColumn Property="x => x.IpAddress" Title="IP" role="button"/>
                        <PropertyColumn Property="x => x.MacAddress" Title="MAC" role="button"/>
                    </Columns>
                </MudDataGrid>
                <span style="color: darkgrey; font-size: 0.8rem" class="ml-3">(kliknij w wiersz żeby wpisać parametry wybranego czujnika)</span>
            }
            @if (_listeningStopped && Sensors.Count == 0)
            {
                <span class="align-self-center">Nie znaleziono żadnych czujników w sieci</span>
            }
            <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="mt-4">
                Dodaj
            </MudButton>
        </MudForm>
    </MudPaper>
</MudItem>

@code {
    public string? IpAddress { get; set; }
    public string? MacAddress { get; set; }
    private List<Sensor> Sensors { get; set; } = [];

    private UdpClient _udpClient = new(5506);
    private bool _listeningStopped;
    private MudForm _form;

    private bool TryGetSensorFromDb(ApplicationDbContext dbContext, string? ip, string? mac, out Sensor sensor)
    {
        Sensor? sensorInDb = null;
        if (!string.IsNullOrWhiteSpace(ip) && !string.IsNullOrWhiteSpace(mac))
        {
            sensorInDb = dbContext.Sensors.FirstOrDefault(x => x.IpAddress == IpAddress || x.MacAddress == MacAddress);
        } 
        else if (string.IsNullOrWhiteSpace(ip) && !string.IsNullOrWhiteSpace(mac))
        {
            sensorInDb = dbContext.Sensors.FirstOrDefault(x => x.MacAddress == MacAddress);
        }
        else if (!string.IsNullOrWhiteSpace(ip) && string.IsNullOrWhiteSpace(mac))
        {
            sensorInDb = dbContext.Sensors.FirstOrDefault(x => x.IpAddress == IpAddress);
        }
        if (sensorInDb is null)
        {
            sensor = new Sensor();
            return false;
        }
        sensor = sensorInDb;
        return true;
    }

    private async Task<int> AddSensorToDb(ApplicationDbContext dbContext, Sensor sensor)
    {
        dbContext.Sensors.Add(sensor);
        await dbContext.SaveChangesAsync();
        return sensor.Id;
    }
    
    private async Task<int> AddSensorToDb(ApplicationDbContext dbContext, string? ip, string? mac)
    {
        var sensor = new Sensor
        {
            IpAddress = ip,
            MacAddress = mac
        };
        dbContext.Sensors.Add(sensor);
        await dbContext.SaveChangesAsync();
        return sensor.Id;
    }

    private void NavigateToSensor(int sensorId, bool forceLoad = false)
    {
        _udpClient.Dispose();
        NavigationManager.NavigateTo($"Device/{sensorId}", forceLoad);
    }
    
    private async Task Submit()
    {
        var isIpEmpty = string.IsNullOrWhiteSpace(IpAddress);
        var isMacEmpty = string.IsNullOrWhiteSpace(MacAddress);
        if (_form.IsValid && (!isIpEmpty || !isMacEmpty))
        {
            Sensor? sensor = null;
            // if the form is submitted without IP address, only with MAC
            if (isIpEmpty)
            {
                // find the sensor with this MAC among the sensors found in the network
                sensor = Sensors.FirstOrDefault(x => x.MacAddress == MacAddress!.Trim());
            }
            if (!isIpEmpty)
            {
                sensor = Sensors.FirstOrDefault(x => x.IpAddress == IpAddress!.Trim());
            }
            
            // if the parameters entered don't match any of the sensors detected in the network
            if (sensor is null)
            {
                var dialog = await DialogService.ShowAsync<AreYouSureDialog>();
                var result = await dialog.Result;
                if (!result.Canceled)
                {
                    await using var dbContext = await DbContextFactory.CreateDbContextAsync();

                    if (TryGetSensorFromDb(dbContext, IpAddress, MacAddress, out var dbSensor))
                    {
                        NavigateToSensor(dbSensor.Id);
                    }
                    else
                    {
                        var id = await AddSensorToDb(dbContext, IpAddress, MacAddress);
                        NavigateToSensor(id, true);
                    }
                }
            }
            else
            {
                await using var dbContext = await DbContextFactory.CreateDbContextAsync();
                if (TryGetSensorFromDb(dbContext, sensor.IpAddress, sensor.MacAddress, out var dbSensor))
                {
                    NavigateToSensor(dbSensor.Id);
                }
                else
                {
                    var id = await AddSensorToDb(dbContext, sensor);
                    NavigateToSensor(id, true);
                }
            }

        }
    }

    private async Task ListenForDevices()
    {
        var cancellationTokenSource = new CancellationTokenSource();
        cancellationTokenSource.CancelAfter(TimeSpan.FromSeconds(5));
        try
        {
            while (!cancellationTokenSource.Token.IsCancellationRequested)
            {
                var result = await _udpClient.ReceiveAsync(cancellationTokenSource.Token);
                var resultStr = Encoding.UTF8.GetString(result.Buffer);
                var device = JsonSerializer.Deserialize<Sensor>(resultStr)!;
                if (!Sensors.Contains(device))
                {
                    Sensors.Add(device);
                }
                StateHasChanged();
            }
        }
        catch (OperationCanceledException)
        {
            _listeningStopped = true;
        }
        finally
        {
            _udpClient.Close();
            _listeningStopped = true;
            StateHasChanged();
        }
    }

    private void OnRowClick(DataGridRowClickEventArgs<Sensor> args)
    {
        IpAddress = args.Item.IpAddress!;
        MacAddress = args.Item.MacAddress!;
    }
    
    private IEnumerable<string> IpAddressValidation(string ip)
    {
        // accept empty field because we want to allow the form to be submitted with only one field filled out
        if (string.IsNullOrWhiteSpace(ip))
        {
            yield break;
        }
        if (!Regex.IsMatch(ip, @"^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}$"))
            yield return "Nieprawidłowy adres IP";
    }
    
    private IEnumerable<string> MacAddressValidation(string mac)
    {
        // same case as in IpAddressValidation
        if (string.IsNullOrWhiteSpace(mac))
        {
            yield break;
        }
        if (!Regex.IsMatch(mac, "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"))
            yield return "Nieprawidłowy adres MAC";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ListenForDevices();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public void Dispose()
    {
        _udpClient.Close();
    }
}