@page "/"

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1 class="align-self-center" style="text-align: center">Witaj, @context.User.Identity?.Name<br/>Wybierz urządzenie z panelu bocznego</h1>
    </Authorized>
    <NotAuthorized>
        <h1 class="align-self-center">Zaloguj się, by wyświetlić urządzenia</h1>
    </NotAuthorized>
</AuthorizeView>
