@page "/"

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>
        <h2 class="align-self-center">Wybierz urządzenie z panelu bocznego</h2>
    </Authorized>
    <NotAuthorized>
        <h2 class="align-self-center">Zaloguj się, by wyświetlić urządzenia</h2>
    </NotAuthorized>
</AuthorizeView>
