@inherits LayoutComponentBase
@layout AccountLayout

<div class="ma-auto" style="height: 70vh; width: 100%;">
    <MudText Typo="Typo.h4">Ustawienia konta</MudText>
    <div class="d-flex flex-row" style="width: 95%; height: 100%;">
        <MudPaper Class="mr-4" Width="30%" Elevation="2">
            <ManageNavMenu/>
        </MudPaper>
        <MudPaper Class="pa-4" Width="70%" Elevation="2">
            @Body
        </MudPaper>
    </div>
</div>
