@page "/Account/Manage"

@using Microsoft.AspNetCore.Identity
@using PolekoWebApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<h4>
    User: @(username ?? "username")
</h4>

@code {
    private ApplicationUser user = default!;
    private string? username;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        username = await UserManager.GetUserNameAsync(user);
    }
}