@page "/Account/Manage"

@using Microsoft.AspNetCore.Identity
@using PolekoWebApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor

<PageTitle>Profil</PageTitle>

<MudText Typo="Typo.h5" style="text-align: center">Profil</MudText>
<MudText Typo="Typo.h6">
    Użytkownik: @(_username ?? "username")
</MudText>
<MudText Typo="Typo.h6">
    Uprawnienia:
    @if (_roles is not null)
    {
        @if (_roles.Contains("SuperAdmin"))
        {
            <span>SuperAdmin</span>
        } 
        else if (_roles.Contains("Admin"))
        {
            <span>Admin</span>
        }
        else
        {
            <span>User</span>            
        }
    }
</MudText>

@code {
    private ApplicationUser _user = default!;
    private string? _username;
    private IList<string>? _roles;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        _username = await UserManager.GetUserNameAsync(_user);
        _roles = await UserManager.GetRolesAsync(_user);
    }
}